html, body {
  height: 100%;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.topbar {
  background-color: #fff;
  opacity: .75;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
}

.topbar h1 {
  font-size: 50px;
  margin-left: 40px;
}

body {
  background-image: url('./assets/beach.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;

}

.new-game {
  margin: 35px 60px;
  padding: 10px;
  text-align: center;
  justify-content: right;
  font-size: 25px;
  border: 3px solid red;
  border-radius: 20px;
}

.new-game:hover {
  cursor: pointer;
}

.players-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  background: #fff;
  opacity: .75;
  border-radius: 20px;
}

.score {
  font-size: 18px;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: white;
  opacity: 0.75;
}

.row {
  display: flex;
  flex-direction: row;
}

.game-box {
  display: flex;
  border: 5px solid #04f0f6;
  width: 80px;
  height: 80px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-weight: bolder;
  font-size: 40px;
}

.game-box:hover {
  cursor: pointer;
}

.result {
  display: none;
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: red;
}
